@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main {
    min-height: 80vh;
    margin-top: 2em;
    margin-bottom: 2em;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #D51449;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101011;
    padding: 0.5% 1%;
}

.header img {
    width: 5em;
    height: 5em;
}

.header .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.header .buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.buttons a, .buttons button {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    background-color: #D51449;
    border: none;
    border-radius: 15px;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    width: 7em;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.buttons a:hover, .buttons button:hover {
    color: black;
}

.footer {
    background-color: #101011;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    color: white;
}

.footer > div {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
}

.copyright {
    flex-basis: 34%;
}

.social {
    justify-content: end !important;
    align-items: center;
    gap: 1em;
}

.social svg {
    width: 1.5em;
    height: 1.5em;
}

.dashboard-title {
    text-align: center;
    margin-bottom: 1em;
}

.dashboard {
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #111;
    border-radius: 15px;
}

.card img {
    width: 22em;
    height: 15em;
    border-radius: 15px 15px 0 0;
}

.card-desc {
    width: 22em;
    margin-bottom: 1em;
}

.card-desc p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.card-desc a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.card-desc a:hover {
    color: #D51449;
}

.card-desc a svg {
    width: 1.5em;
    height: 1.5em;
}

.card-actions {
    display: flex;
    justify-content: center;
    gap: 1em;
}

h1 {
    margin: 0;
}

.curso-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curso-view {
    border: 1px solid #111;
    border-radius: 15px;
}

.curso-view img {
    width: 75vh;
    height: 40vh;
    border-radius: 15px 15px 0 0;
}

.curso-view-desc {
    width: 75vh;
}

.curso-view-desc p {
    white-space: pre-wrap;
    overflow: hidden;
    text-align: center;
}

.curso-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.curso-actions a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    margin-bottom: 1em;
    background-color: #D51449;
    padding: 1em;
    border-radius: 50%;
}

.curso-actions a:hover {
    color: black;
}

.curso-actions a svg {
    width: 1.5em;
    height: 1.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid #111;
    border-radius: 15px;
}

.form-container-excluir {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.form-container img {
    width: 75vh;
    height: 40vh;
    border-radius: 15px 15px 0 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.form-control input[type='text'], input[type='email'], input[type='password'], select {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #111;
    border-radius: 15px;
    padding: 10px;
    width: 30vh
}

.form-control button {
    padding: 15px;
}

.center {
    justify-content: center;
}

.mensagem {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}

.form-search {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    padding: 0 15vh;
    gap: 1em;
}

.form-search input {
    display: flex;
    width: 100%;
    border: 1px solid #111;
    border-radius: 15px;
    padding: 0 15px
}

.search {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    background-color: #D51449;
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
}

.search:hover {
    color: black;
}

.search svg {
    width: 1.5em;
    height: 1.5em;
}

.home-banner {
    display: flex;
    width: 50vw;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.banner-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background: url("../public/assets/home-banner.png");
}

.banner-1 h1, .banner-1 p {
    background-color: white;
    padding: 1.3em;
    border: 1px solid #111;
    border-radius: 20px;
}

.home-button {
    width: 10em !important;
}

.imgInput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.imgInputLabel {
    display: flex;
    justify-content: center;
    border: 1px solid #111;
    border-radius: 15px;
    padding: 10px;
    width: 30vh;
    transition: 0.5s;
}

.imgInputLabel:hover {
    background-color: #111;
    color: white;
    cursor: pointer;
}